<%- include("partials/header") -%>

<section class="section section-sm bg-default" id="news">
  <div class="container">
    <h2>Publications des utilisateurs</h2>
    <p class="quote-jean wow fadeInRight" data-wow-delay=".1s">Seul les utilisateurs peuvent faire de publications. Si une publication vous interesse, pour des raisons de securite, veuillez contacter l'agence.</p>
    <div class="row row-45">
      <div class="col-sm-6 col-lg-4 wow fadeInLeft">
        <!-- Post Modern-->
        <article class="post post-modern"><a class="post-modern-figure" href="#"><img src="images/post-10-370x307.jpg" alt="" width="370" height="307"/>
            <div class="post-modern-time">
              <time datetime="2019-07-04"><span class="post-modern-time-month">07</span><span class="post-modern-time-number">04</span></time>
            </div></a>
          <h4 class="post-modern-title"><a href="#">Benefits of Async/Await</a></h4>
          <p class="post-modern-text">Asynchronous functions are a good and bad thing in JavaScript. The good side is that asynchronous functions are non-blocking and...</p>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- Contact information-->
  <section class="section section-sm bg-default" data-filter="Type 1">
    <div class="container">
      <div class="row row-30 justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4">
          <article class="box-contacts">
            <div class="box-contacts-body">
              <div class="box-contacts-icon fl-bigmug-line-cellphone55"></div>
              <div class="box-contacts-decor"></div>
              <p class="box-contacts-link"><a href="tel: +221 770442356">+1 323-913-4688</a></p>
              <p class="box-contacts-link"><a href="tel: +221 776913464">+1 323-888-4554</a></p>
            </div>
          </article>
        </div>

        <div class="col-sm-8 col-md-6 col-lg-4">
          <article class="box-contacts">
            <div class="box-contacts-body">
              <div class="box-contacts-icon fl-bigmug-line-chat55"></div>
              <div class="box-contacts-decor"></div>
              <p class="box-contacts-link"><a href="mailto:sonkomouhammad@gmail.com">mail@demolink.org</a></p>
              <p class="box-contacts-link"><a href="mailto:#">info@demolink.org</a></p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-sm bg-default">
    <div class="group-sm group-middle group justify-content-end">
      <a class="button button-primary button-ujarak" href="identification" >Faire une Publication</a>
      <a class="button button-primary button-ujarak" href="inscription">S'inscrire</a>
    </div>
  </section>


<%- include("partials/footer") -%>
