<%- include("partials/header") -%>
      <!-- See all services-->
      <section class="section section-sm section-first bg-default text-center" id="services">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp"><img src="images/index-1-415x592.png" alt="" width="415" height="592"/>
            </div>
            <div class="col-lg-7 col-xl-6">
              <div class="row row-30">
                <div class="col-sm-6 wow fadeInRight">
                  <article class="box-icon-modern box-icon-modern-custom">
                    <div>
                      <h3 class="box-icon-modern-big-title">Ce que nous offrons</h3>
                      <div class="box-icon-modern-decor"></div><a class="button button-primary button-ujarak" href= "ventes"> Vente</a>
                      <div class="box-icon-modern-decor"></div><a class="button button-primary button-ujarak" href= "location"> Location</a>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".1s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-home"></div>
                    <h5 class="box-icon-modern-title"><a href="#modalCta" data-toggle="modal">IMMOBIMIER<br>SERVICES</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Besoins de vous loger? Nous sommes prets à vous aider!</p>
                  </article>
                </div>

                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon"> <img src="images/plan.png" height="48" width="48" alt=""></div>
                    <h5 class="box-icon-modern-title"><a href="#modalCta" data-toggle="modal">CONCEPTIONS DE PLAN<br>SERVICES</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Vous n'avez pas encor de plan de construction? Faites nous confiance!</p>
                  </article>
                </div>

                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".1s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon"><img src="images/construction.png" height="48" width="48" alt=""></div>
                    <h5 class="box-icon-modern-title"><a href="#modalCta" data-toggle="modal">CONSTRUCTION<br>SERVICES</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Nous supervisons vos chantiers du debut à la fin avec une gestion transparente!</p>
                  </article>
                </div>

                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".2s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon"><img src="images/station.png" height="48" width="48" alt=""></div>
                    <h5 class="box-icon-modern-title"><a href="#modalCta" data-toggle="modal">TOPOGRAPHIE<br>SERVICES</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Nous collaborons avec des topographes qualifiés. </p>
                  </article>
                </div>

                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-outbox"></div>
                    <h5 class="box-icon-modern-title"><a href="#modalCta" data-toggle="modal">Extraction<br>SERVICES</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">.</p>
                  </article>
                </div>

                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon "><img src="images/paint.png" height="48" width="48" alt=""></div>
                    <h5 class="box-icon-modern-title"><a href="#modalCta" data-toggle="modal">Peinture<br>SERVICES</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Des décorations que vous ne verrez nul par ailleur.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Cta-->
      <section class="section section-sm section-fluid bg-default">
        <div class="parallax-container" data-parallax-img="images/parallax-1.jpg">
          <div class="parallax-content section-xl context-dark bg-overlay-68 bg-mobile-overlay">
            <div class="container">
              <div class="row row-30 justify-content-end text-right">
                <div class="col-sm-7">
                  <h3 class="wow fadeInLeft">Nous aidons tous le monde!</h3>
                  <p>Vous avez besoins d'une Maison(Location ou Achat) de Chambres et/ou Terrains  pour vous ou vos proches? LAMAAN-IMMO peux vous aider!</p>
                  <div class="group-sm group-middle group justify-content-end">
                    <a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal">Nous Contacter</a>
                    <a class="button button-white-outline button-ujarak" href="services">Voir Nos Services</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<%- include("partials/footer") -%>
